@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  margin:0;
  padding:0;
}

.container, .order-card, .pricing-img{
  display:flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: hsl(225, 100%, 94%);
  background-image:url(images/pattern-background-desktop.svg);
  background-position: -100px -50px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

footer{
  background-color: hsl(225, 100%, 94%);
}

.order-card{
  background-color: white;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  width: 28%;
}

.order-img img{
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.summary{
  margin: 30px;
}

.summary h1{
  color: hsl(223, 47%, 23%);
  font-size: 1.3rem;
  font-weight:900;
  letter-spacing: 0.5px;
}

.summary p{
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 15px 25px;
}

.pricing{
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  display:flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}

.pricing-img{
  margin: 0 20px;
}

.pricing img{
  width: 40px;
}

.pricing-details{
  display:flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.pricing-details p{
  margin: 0;
}

.pricing-details .price-head{
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.change-btn a{
  color: hsl(245, 75%, 52%);
  font-size: 0.7rem;
  font-weight: 700;
}

.change-btn a:hover{
  color: hsl(240, 75%, 67%);
  text-decoration: none;
}

.order-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.74rem;
  font-weight: 700;
  margin: 25px 0 5px;
}

button{
  background-color: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 25px hsl(245, 75%, 82%);
  cursor: pointer;
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
}

button:hover{
  background-color: hsl(240, 75%, 67%);
}

.pay-btn{
  color: white;
  letter-spacing: 0.3px;
  font-size: 0.74rem;
  font-weight: 700;
  text-decoration: none;
}

.cancel-btn{
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.cancel-btn:hover{
  color: hsl(223, 47%, 23%);
}

@media (max-width:600px){
  .container{
    background-image:url(images/pattern-background-mobile.svg);
    background-position: 0 10px;
    background-repeat: no-repeat;
  }

  .order-card{
    width: 90%;
  }

  .summary p, button, .order-btn a{
    font-size: 0.9rem;
  }

  .pricing-details{
    width: 45%;
  }

  .pricing img{
    width: 50px;
  }

  .change-btn a{
    font-size: 0.8rem;
  }

  button{
    padding: 15px;
  }
}
